body {
    background: #fafafa;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #333;
    padding-top: 65px;
}

h1,h2,h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.logo{
    /*font-family:'Coustard', serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 350%;
}

.navbar{
    background: #380B61;
}

.active li {
    background: purple;
}

.ar-panel{
    padding-bottom: 15px;
    margin-bottom:15px;
}

.user-files-grid {
    border: 1px solid rgb(212,212,212);
    height: 500px;
    margin-bottom: 15px;
}

.user-status-grid {
    border: 1px solid rgb(212,212,212);
    height: 400px;
    margin-bottom: 15px;
}

.user-staged-files {
    padding-bottom: : 15px;
    height: 515px;
    overflow: scroll;
}

.ar-file-stage{
    height:800px;
}


.ar-pipeline-box {
    height: 400px;
}

.ar-pipeline {
    padding-top: 100px;
}

.ar-module {
    margin: 1px;
}

.big-button {
    margin: 6px;
}

.ar-login {
    color:white;
}

.modal {
display: block;
height: 200;
overflow: visible;
}

.greyed{
    padding-top: 50px;
    text-align: center;
    color: #D8D8D8;
    font-size: 300%;
}
.greylg{
    text-align: center;
    color: #D8D8D8;
    font-size: 400%;
}

 [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }