body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding-top: 65px;
}

.logo{
    font-family:'Coustard', serif;
    font-size: 300%;
}

.navbar{
    background: #380B61;
}

.active li {
    background: purple;
}

.ar-panel{
    padding-bottom: 15px;
    margin-bottom:15px;
}

.user-files-grid {
    border: 1px solid rgb(212,212,212);
    height: 500px;
    margin-bottom: 15px;
}

.user-staged-files {
    padding-bottom: : 15px;
    height: 515px;
    overflow: scroll;
}

.ar-file-stage{
    height:800px;
}

.ar-pipeline-box {
    height: 400px;
}

.ar-pipeline {
    padding-top: 100px;
}

.ar-module {
    margin: 1px;
}

.big-button {
    margin: 6px;
}

.ar-login {
    color:white;
}

.modal {
display: block;
height: 200;
overflow: visible;
}