<div class="row">
<div class="row"><h1>Step 1: Stage Files</h1></div>
<div class="row">
	<div class="col-md-6 well">
		<div class="user-files-grid col-md-12" ng-grid="gridOptions"></div>
	</div>
	<div class="col-md-6 well">
		<div id="staged" class="user-staged-files">
			<div class="panel panel-primary" ng-show="stagedLibraries.length > 0">
				<div class="panel-heading">
					<div class="h3 panel-title">Staged Files</div>
				</div>
			
			<div class="panel-body" >
				<div ng-repeat="lib in stagedLibraries">
					<ar-lib libdata=lib></ar-lib>
				</div>
				<div class="btn btn-warning btn-sm" ng-click="addLibrary()" ng-show="stagedLibraries.length > 0"><span class="glyphicon glyphicon-plus-sign"></span>  New Library
				</div>
				</div>
				
			</div>
			<div class="greyed" ng-show="stagedLibraries.length == 0">
					<p>No Libraries Staged</p>
					<p><i class="greylg glyphicon glyphicon-plus-sign"></i></p>
				</div>
		</div>
	</div>
	</div>
		<!-- button row -->
		<div class="row">
			<div class="col-md-6">
<!-- 				<button class="btn btn-sm btn-info" ng-model="showUpload" ng-click="toggleUpload()">
					<span class="glyphicon glyphicon-cloud-upload"></span> Upload
				</button> -->
				<!-- 				<button class="btn btn-sm btn-warning" ng-show="mySelections.length > 0"><span class="glyphicon glyphicon-trash"></span> Delete</button> -->
				<button class="btn btn-sm btn-success" ng-click="stageFile(mySelections)" ng-show="mySelections.length > 0"><span class="glyphicon glyphicon-plus-sign"></span> Stage file<span ng-show="mySelections.length > 1">s</span> <span class="badge">  {{mySelections.length}}</span></button>
				<!-- <button class="btn btn-sm btn-warning" ng-click="enableShock()"><i class="glyphicon glyphicon-plus-sign"></i> Shock ID</button> -->
				<span ng-show="shockInput">
				<input type="text" placeholder="Shock Node ID" ng-model="shocknode">
				<button class="btn btn-xs"><i class="glyphicon glyphicon-ok" ng-click="stageNode(shocknode)"></i></button>
				<button class="btn btn-xs"><i class="glyphicon glyphicon-remove" ng-click="clearNode()"></i></button>
			</span>
			</div>
			<div class="col-md-6">
				<button class="btn btn-sm btn-danger pull-right" ng-click="nextStage()" ng-show="stagedLibraries.length > 0">
			<span class="glyphicon glyphicon-chevron-right" ></span> Proceed</button>
		</div>
		</div>
</div>

	