<div ng-controller="ArStatusCtrl">
	<h1>Job Status <i class="glyphicon glyphicon-refresh pull-right btn" ng-click="refreshStatus()"></i></h1>
	<div class="user-status-grid col-md-12" ng-grid="gridOptions"></div>
	<div class="preview row" ng-show="mySelections.length > 0">
		<div class="panel panel-primary">
			<div class="panel-heading">Job Preview

				<button class="btn btn-xs btn-info btn-disabled pull-right" disabled>Details</button>
			<div class="btn-group pull-right">
				<button class="btn btn-xs btn-danger dropdown-toggle pull-right" style="margin-right: 4px" ng-show="mySelections[0].status.substring(0,4) == 'pipe'" ng-click="enableDlLink(mySelections[0])">Download Results</button>
				<ul class="dropdown-menu" role="menu">
					<li><a download="asm.zip" href="{{asmDownloadLink}}" ng-show="asmDownloadLink" >Assemblies</a></li>
					<li><a href="{{ctgDownloadLink}}" download="ctg.zip">Assessment</a></li>

				</ul>

		</div>
		<button class="btn btn-xs btn-danger pull-right" style="margin-right: 4px" ng-show="mySelections[0].status.substring(0,4) == 'Runn'" ng-click="killJob(mySelections[0].job_id)">Kill Job</button>
		    </div>
		    <div class="panel-body">
		    	<p>Job Id: {{mySelections[0].job_id}}</p>
		    	<p>Compute time: {{mySelections[0].computation_time}}</p>
		    	<p>Files: {{mySelections[0].filename}}</p>
		    </div>
		</div>
		
	</div>
</div>