<html lang="en">
<head>
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload-ui.css">
<style>
/* Hide Angular JS elements before initializing */
.ng-cloak {
    display: none;
}
</style>
</head>
<body>

<div class="container" ng-controller="ArFileUploadController">

    <div class="col-md-10 col-md-offset-1 ng-cloak">
        <h2>Upload // Assemble</h2>
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="{{uploadUrl}}" method="POST" enctype="multipart/form-data" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

        <div class="row fileupload-buttonbar">
            <div class="col-lg-9">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="upload" multiple ng-disabled="disabled">
                </span>
                <button type="button" class="btn btn-primary start" ng-show="queue.length > 0" data-ng-click="submit()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>{{uploadText}}</span>
                </button>
                <button type="button" class="btn btn-warning cancel" ng-show="queue.length > 0" data-ng-click="cancel()">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <!-- The loading indicator is shown during file processing -->
                <div class="fileupload-loading"></div>
            </div>
            <!-- The global progress information -->
            <div class="col-lg-3 fade" data-ng-class="{in: active()}">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <div class="greyed-upload" ng-show="queue.length==0">
                    <p>No Files Added</p>
                    <p><i class="greylg glyphicon glyphicon-plus-sign"></i></p>
                    <br>
                </div>
        <table class="table table-striped files ng-cloak" ng-show="queue.length>0">
            <tr data-ng-repeat="file in queue">
                <td>
                    <p class="name">
                        <span>{{file.name}}</span>
                    </p>
                    <div data-ng-show="file.error"><span class="label label-danger">Error</span> {{file.error}}</div>
                </td>
                <td>
                    <p class="size">{{file.size | formatFileSize}}</p>
                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                </td>
                <td>
                    <button type="button" class="pull-right close" ng-click="file.$cancel()" aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i></button></div>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <div class="row well">
    <span class="col-md-6">
        <span class="lead">Auto-Assemble </span>
        <input bs-switch ng-model="autoAssemble">
    </span>
    <span class="col-md-6" ng-show="autoAssemble">
        <span class="lead">Pipeline</span>
        <div class="btn-group dropdown" >
            <div class="btn btn-sm btn-success dropdown-toggle">{{activeRecipe.name}}<span class="caret"></span></div>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="recipe in arRecipes" ng-click="setRecipe(recipe)" tooltip="{{recipe.pipeline}}" tooltip-trigger="mouseenter" tooltip-placement="left"><a>{{recipe.name}}</a></li>

            </ul>
        </div>

</span>

    </div>
    </div>

</div>



</body> 
</html>
