<div class="col-md-4">
	<h1>Dashboard</h1>
	<button class="row big-button btn btn-lg btn-block btn-success" tooltip="{{tooltipQuick}}" tooltip-trigger="mouseenter" ng-click="clickQuick()" >
		<h3><i class="glyphicon glyphicon-flash"></i> Quick Assembly</h3>
		<small>Quickly upload reads and assemble</small>		
	</button>

	<button class="row big-button btn btn-lg btn-block btn-info" tooltip="{{tooltipCustom}}" tooltip-trigger="mouseenter" ng-click="clickCustom()">
		<h3><i class="glyphicon glyphicon-cog"></i> Custom Assembly</h3>
		<small>Customize libraries and pipeline</small>		
	</button>
	<button class="row big-button btn btn-lg btn-block btn-warning" tooltip="{{tooltipAnalyze}}" tooltip-trigger="mouseenter" >
		<h3><i class="glyphicon glyphicon-eye-open"></i> Analyze Assemblies</h3>
		<small>Perform analysis on contigs</small>		
	</button>

	<ul class="nav nav-pills nav-stacked big-button">
		<li ng-class="{active: dashView == 'status'}" ng-click="dashView='status'"><a href="">Job Status <i class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
		<li ng-class="{active: dashView == 'files'}" ng-click="dashView='files'"><a href="">My Files <i class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
		<li ng-click="dashView='activity'"><a href="">Activity <i class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
	</ul>
</div>

<div class="col-md-8" ng-switch on="dashView"> 
	<div ng-switch-when="status" ng-include=" 'partials/statusAll.html' " ng-controller="ArStatusCtrl"></div>
	<div ng-switch-when="files" ng-include=" 'partials/userFiles.html' " ng-controller="UserFileCtrl" data-ng-init="listUserFiles()"></div>


</div>
