<html ng-controller="UserFileCtrl">
	<head>
		<title></title>
	</head>
	<body>
		<div class="animate-switch-container container" ng-switch on="arStage"> 
		<div ng-switch-when=1 >
			<div ng-include="'partials/file_stager.html'" data-ng-init="listUserFiles('reads')"></div>
		</div>
		<div ng-switch-when=2>
			<div ng-include="'partials/pipeline_builder.html'" data-ng-init="getArModules()"></div>
		</div>
		<div ng-switch-when=3 >
			<div ng-include="'partials/finalize.html'" data-ng-init="getArModules()"></div>
		</div>
	</div>

	</body>
</html>