<div class="ar-panel">
<div class="panel panel-warning">
	<div class="panel-heading" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable>{{libdata.name}} 

		<button type="button" class="pull-right close" ng-click="addUrl()" aria-hidden="true"><i class="glyphicon glyphicon-link"></i></button>

		<button type="button" class="pull-right close" ng-click="rmLibrary(libdata)" aria-hidden="true"><i class="glyphicon glyphicon-remove-circle"></i></button></div>
	<!-- TODO: Make this collapsible -->
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="sObj in libdata.shockObjs track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}"> {{sObj.file.name}} <button type="button" class="pull-right close" aria-hidden="true">&times; </button></li>

		<li class="list-group-item" ng-repeat="sNode in sNodes" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}"> <input type="text" ng-model='url'> <button type="button" class="pull-right close" aria-hidden="true">&times; </button></li>


	</ul>
</div>
<div class="row ar-lib-params">
	<div class="col-md-6">
		<div class="input-group" >
			<span class="input-group-addon">Ins</span>
			<input type="text" ng-model="libdata.insert" class="form-control" placeholder="{{libdata.insert}}">
		</div>
	</div>
	<div class="col-md-6">
		<div class="input-group" >
			<span class="input-group-addon">&#963;</span>
			<input type="text" ng-model="libdata.stdev" class="form-control" placeholder="{{libdata.stdev}}">
		</div>
	</div>
</div>
</div>
